{% extends 'home/header.html' %}

{% block content %}

  {% load staticfiles %}
  <div class="mdl-grid custom-grid">
    <div class="mdl-cell mdl-cell--8-col desktop-cell">
      <div id="desktop">
        <div id="desktop-background"></div>
      </div>
      <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
      </div>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">

            <button id="demo-menu-top-left" class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">apps</i>
            </button>
            <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--top" for="demo-menu-top-left">Apps</div>

            <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect"
                data-mdl-for="demo-menu-top-left">
              <li class="mdl-menu__item chrome-app"><span><i class="fa fa-chrome"></i> Chrome</span></li>
              <li class="mdl-menu__item folders-app"><span><i class="fa fa-folder"></i> Documentos</span></li>
              <li class="mdl-menu__item calculator-app"><span><i class="fa fa-calculator"></i> Calculadora</span></li>
              <li class="mdl-menu__item terminal-app"><span><i class="fa fa-terminal"></i> Terminal</span></li>
              <li class="mdl-menu__item player-app"><span><i class="fa fa-play-circle"></i> Reproductor</span></li>
              <li class="mdl-menu__item gallery-app"><span><i class="fa fa-picture-o"></i> Galer&iacute;a</span></li>
              <li class="mdl-menu__item steam-app"><span><i class="fa fa-steam "></i> Steam</span></li>
              <li class="mdl-menu__item spotify-app"><span><i class="fa fa-spotify"></i> Spotify</span></li>
              <li class="mdl-menu__item code-app"><span><i class="fa fa-code"></i> VS Code</span></li>
            </ul>
          </div>

          <button id="tt1" class="mdl-button mdl-js-button mdl-button--icon folders-app">
            <i class="fa fa-folder"></i>
          </button>
          <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--top" for="tt1">Documentos</div>

          <button id="tt2" class="mdl-button mdl-js-button mdl-button--icon chrome-app">
            <i class="fa fa-chrome "></i>
          </button>
          <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--top" for="tt2">Google Chrome</div>

        </div>
        <div class="mdl-mini-footer__right-section">
          <div>
            <span id="time"></span>
            <button id="tt3" class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">account_circle</i>
            </button>
            <div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--top" for="tt3">Samuel Murillo</div>
          </div>
        </div>
      </footer>
    </div>
    <div id="admin-panel" class="mdl-cell mdl-cell--4-col">
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
        <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Panel de administrador</span>
          </div>
          <!-- Tabs -->
          <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Recursos</a>
            <a href="#fixed-tab-2" class="mdl-layout__tab">Procesos</a>
            <a href="#fixed-tab-3" class="mdl-layout__tab">I/O</a>
          </div>
        </header>

        <main class="mdl-layout__content">
          <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
            <div class="page-content">
              <!-- Two Line List with secondary info and action -->
              <ul id="resources" class="collection">
                {% include "home/reports/resources.html" %}
              </ul>
            </div>
          </section>
          <section class="mdl-layout__tab-panel" id="fixed-tab-2">
            <div class="page-content">
              <!-- process table -->
              <div class="panel panel-default process">
                <span class="mdl-layout-title center">Tabla de procesos</span>
                <table class="striped highlight centered">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Proceso</th>
                    <th>CPU</th>
                    <th>RAM</th>
                    <th>Disco</th>
                    <th>Estado</th>
                  </tr>
                  </thead>
                  <tbody id="processes-table">
                  {% include "home/reports/processes_table.html" %}
                  </tbody>
                </table>
                <br>
                <span class="mdl-layout-title center">
                  Tabla de memoria
                  <br><br>
                 <a id="compact" class="waves-effect waves-light btn indigo">Compactac&iacute;on</a>
                </span>
                <br>
                <div>
                  <div id="memory-table" class="row">
                    {% include "home/reports/memory_table.html" %}
                  </div>
                </div>
                <span class="mdl-layout-title center">Swap</span>
                <br>
                <div>
                  <div id="swap-table" class="row">
                    {% include "home/reports/memory_table.html" %}
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="mdl-layout__tab-panel" id="fixed-tab-3">
            <div class="page-content">
              <span class="mdl-layout-title center"><br>Vector de disco<br><br></span>
              <div id="disk-vector" class="center-align text-center">
                {% include "home/reports/disk_vector.html" %}
              </div>
              <span class="mdl-layout-title center"><br>
                Algoritmos de planificaci&oacute;n de disco
                <br><br>
              </span>
              <a id="fifo-btn" class="waves-effect waves-light btn indigo">FIFO</a>
              <div id="fifo">

              </div><br>
              <a id="scan-btn" class="waves-effect waves-light btn indigo">SCAN</a>
              <div id="scan">

              </div><br>
              <a id="cscan-btn" class="waves-effect waves-light btn indigo">CSCAN</a>
              <div id="csan">

              </div>

            </div>
          </section>
        </main>
      </div>
    </div>
  </div>

{% endblock %}
