{% extends 'home/header.html' %}

{% block content %}

    {% load staticfiles %}
    <div class="mdl-grid custom-grid">
        <div class="mdl-cell mdl-cell--8-col desktop-cell">
            <div id="desktop">

                <div id="desktop-background">

                </div>

                <footer class="mdl-mini-footer">
                    <div class="mdl-mini-footer__left-section">
                        <div class="mdl-logo"><i class="material-icons">apps</i></div>

                    </div>
                    <div class="mdl-mini-footer__right-section">
                        <div><span id="time"></span></div>
                    </div>
                </footer>
            </div>

        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
                <header class="mdl-layout__header">
                    <div class="mdl-layout__header-row">
                        <!-- Title -->
                        <span class="mdl-layout-title">Title</span>
                    </div>
                    <!-- Tabs -->
                    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                        <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Tab 1</a>
                        <a href="#fixed-tab-2" class="mdl-layout__tab">Tab 2</a>
                        <a href="#fixed-tab-3" class="mdl-layout__tab">Tab 3</a>
                    </div>
                </header>

                <main class="mdl-layout__content">
                    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
                        <div class="page-content"><!-- Your content goes here --></div>
                    </section>
                    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
                        <div class="page-content"><!-- Your content goes here --></div>
                    </section>
                    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
                        <div class="page-content"><!-- Your content goes here --></div>
                    </section>
                </main>
            </div>
        </div>
    </div>

{% endblock %}