<div id="program-window">
    <div id="status-bar">
        <span id="program-name">{{ app_name }}</span>
        <button id="close-button" class="mdl-button mdl-js-button mdl-button--icon windowButton">
            <i class="material-icons">clear</i>
        </button>
        <button id="minimize-button" class="mdl-button mdl-js-button mdl-button--icon windowButton">
            <i class="material-icons">remove</i>
        </button>
    </div>
    <div id="program">
        <img src="/static/img/apps/{{ app_id }}.jpg">
    </div>

    <script>
        $('#close-button').click(function () {
            $("#processes-table").load("reports/processes/close/{{ app_id }}");
            $("#memory-table").load("reports/memory-table/remove/{{ app_id }}");
            setTimeout(function() {
                $("#resources").load("reports/resources");
            }, 100);
            $("#desktop").load("desktop");
        });

        $('#minimize-button').click(function () {
            $("#desktop").load("desktop");
        });
        resizeDiv();
    </script>
</div>
